# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-apisix

# Test binary, built for local testing
terraform-provider-apisix.test

# Dependency directories
vendor/

# Go workspace file
go.work

# Test artifacts
tests/acceptance/*/.tofurc
tests/acceptance/*/terraform.tfstate
tests/acceptance/*/terraform.tfstate.backup
tests/acceptance/*/terraform.tfstate.*
tests/acceptance/*/.terraform.lock.hcl
tests/acceptance/*/.terraform/
tests/acceptance/*/*.backup
